In [33]:
import numpy as np
import pandas as pd
from collections import Counter
from __future__ import division
import math
import itertools

In [4]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
251,tt1190080,200000000,769653595,2012,John Cusack|Amanda Peet|Chiwetel Ejiofor|Thand...,Roland Emmerich,We Were Warned.,"Dr. Adrian Helmsley, part of a worldwide geoph...",158,Action|Adventure|Science Fiction,Columbia Pictures|Centropolis Entertainment|Th...,10/10/2009,5.6,2009
1293,tt2473682,5000000,86362372,Paranormal Activity: The Marked Ones,Richard Cabral|Carlos Pratts|Eddie J. Fernande...,Christopher B. Landon,You're one of us now.,Seventeen-year-old Jesse has been hearing terr...,84,Horror|Thriller,Blumhouse Productions|Room 101|Solana Films,12/31/2013,5.3,2013
1521,tt0482546,30000000,35078241,Miss Potter,Ewan McGregor|RenÃ©e Zellweger|Emily Watson|Ba...,Chris Noonan,The life of Beatrix Potter is the most enchant...,"The story of Beatrix Potter, the author of the...",92,Drama|Family|Romance,BBC Films,12/3/2006,6.2,2006
1763,tt0427309,15000000,30226144,The Great Debaters,Denzel Washington|Nate Parker|Forest Whitaker|...,Denzel Washington,"When the nation was in need, he inspired them ...",The true story of a brilliant but politically ...,126,Drama,The Weinstein Company|Harpo Films|Marshall Pro...,12/27/2007,6.6,2007
1432,tt0382628,30000000,25473093,Dark Water,Jennifer Connelly|John C. Reilly|Tim Roth|Doug...,Walter Salles,"This Season, The Mystery Of The Darkness Will ...",Dahlia Williams and her daughter Cecelia move ...,105,Drama|Horror|Thriller,Vertigo Entertainment|Touchstone Pictures|Post...,6/27/2005,5.2,2005

In [5]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [39]:
answers = {} # создадим словарь для ответов

# profit
data['profit'] = data.revenue - data.budget

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [11]:
# в словарь вставляем номер вопроса и ваш ответ на него
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +
# если ответили верно, можете добавить комментарий со значком "+"

In [8]:
# тут пишем ваш код для решения данного вопроса:
def q1(data):
    slice = data[['imdb_id', 'original_title', 'budget']]

    # technique 1
    res_1 = slice.sort_values(by=['budget'], ascending=False).iloc[0]

    # technique 2
    res_2 = slice[slice.budget == slice.budget.max()].iloc[0]

    # compare results
    compare = res_1 == res_2
    if compare.value_counts()[True] == len(slice.columns):
        print(res_1.original_title + ' (' + res_1.imdb_id + ')')
    else:
        print('Results are not the same')
        
        
q1(data)

Pirates of the Caribbean: On Stranger Tides (tt1298650)

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'  # +

In [13]:
def q2(data):
    slice = data[['imdb_id', 'original_title', 'runtime']]

    # technique 1
    res_1 = slice.sort_values(by=['runtime'], ascending=False).iloc[0]

    # technique 2
    res_2 = slice[slice.runtime == slice.runtime.max()].iloc[0]

    # compare results
    compare = res_1 == res_2
    if compare.value_counts()[True] == len(slice.columns):
        print(res_1.original_title + ' (' + res_1.imdb_id + ')')
    else:
        print('Results are not the same')


q2(data)

Gods and Generals (tt0279111)

# 3. Какой из фильмов самый короткий (в минутах)?

In [31]:
answers['3'] = 'Winnie the Pooh (tt1449283)'  # +

In [14]:
def q3(data):
    slice = data[['imdb_id', 'original_title', 'runtime']]

    # technique 1
    res_1 = slice.sort_values(by=['runtime']).iloc[0]

    # technique 2
    res_2 = slice[slice.runtime == slice.runtime.min()].iloc[0]

    # compare results
    compare = res_1 == res_2
    if compare.value_counts()[True] == len(slice.columns):
        print(res_1.original_title + ' (' + res_1.imdb_id + ')')
    else:
        print('Results are not the same')


q3(data)

Winnie the Pooh (tt1449283)

# 4. Какова средняя длительность фильмов?

In [30]:
answers['4'] = 110 # +

In [29]:
def q4(data):
    slice = data[['runtime']]

    # technique 1
    res_1 = slice.runtime.mean()

    # technique 2
    res_2 = slice.runtime.sum() / data.runtime.count()

    # compare results
    compare = res_1 == res_2
    if compare:
        print(res_1)
    else:
        print('Results are not the same')


q4(data)

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [38]:
answers['5'] = 107 # +

In [37]:
def q5(data):
    slice = data[['runtime']]

    # technique 1
    res_1 = slice.runtime.median()

    # technique 2
    sorted = slice.sort_values(by='runtime')
    half_len = (sorted.runtime.count() + 1) / 2
    if half_len % 1 == 0:
        res_2 = sorted.iloc[int(math.floor(half_len - 1))].runtime
    else:
        left = sorted.iloc[int(math.floor(half_len - 1))].runtime
        right = sorted.iloc[int(math.ceil(half_len - 1))].runtime
        res_2 = (left + right) / 2

    # compare results
    compare = res_1 == res_2
    if compare:
        print(res_1)
    else:
        print('Results are not the same')


q5(data)

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [ ]:
answers['6'] = 'Avatar (tt0499549)' # +

In [40]:
def q6(data):
    slice = data.loc[:, ['imdb_id', 'original_title', 'profit']]

    # technique 1
    res_1 = slice.sort_values(by=['profit'], ascending=False).iloc[0]

    # technique 2
    res_2 = slice[slice.profit == slice.profit.max()].iloc[0]

    # compare results
    compare = res_1 == res_2
    if compare.value_counts()[True] == len(slice.columns):
        print(res_1.original_title + ' (' + res_1.imdb_id + ')')
    else:
        print('Results are not the same')


q6(data)

Avatar (tt0499549)

# 7. Какой фильм самый убыточный?

In [0]:
answers['7'] = 'The Lone Ranger (tt1210819)' # +

In [56]:
def q7(data):
    slice = data.loc[:, ['imdb_id', 'original_title', 'profit']]

    # technique 1
    res_1 = slice.sort_values(by=['profit']).iloc[0]

    # technique 2
    res_2 = slice[slice.profit == slice.profit.min()].iloc[0]

    # compare results
    compare = res_1 == res_2
    if compare.value_counts()[True] == len(slice.columns):
        print(res_1.original_title + ' (' + res_1.imdb_id + ')')
    else:
        print('Results are not the same')


q7(data)

The Lone Ranger (tt1210819)

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [46]:
answers['8'] = 1478 # +

In [55]:
def q8(data):
    slice = data.loc[:, ['budget', 'revenue', 'profit']]

    # technique 1
    res_1 = slice[slice.profit > 0].profit.count()

    # technique 2
    res_2 = slice[slice.revenue > slice.budget].revenue.count()

    # compare results
    compare = res_1 == res_2
    if compare:
        print(res_1)
    else:
        print('Results are not the same')


q8(data)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [0]:
answers['9'] = 'The Dark Knight (tt0468569)' # +

In [48]:
def q9(data):
    slice = data[data.release_year == 2008].loc[:, ['imdb_id', 'original_title', 'revenue']]

    # technique 1
    res_1 = slice.sort_values(by=['revenue'], ascending=False).iloc[0]

    # technique 2
    res_2 = slice[slice.revenue == slice.revenue.max()].iloc[0]

    # compare results
    compare = res_1 == res_2
    if compare.value_counts()[True] == len(slice.columns):
        print(res_1.original_title + ' (' + res_1.imdb_id + ')')
    else:
        print('Results are not the same')


q9(data)

The Dark Knight (tt0468569)

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [51]:
answers['10'] = 'The Lone Ranger (tt1210819)' # +

In [53]:
def q10(data):
    filtered = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
    slice = filtered.loc[:, ['imdb_id', 'original_title', 'profit']]

    # technique 1
    res_1 = slice.sort_values(by=['profit']).iloc[0]

    # technique 2
    res_2 = slice[slice.profit == slice.profit.min()].iloc[0]

    # compare results
    compare = res_1 == res_2
    if compare.value_counts()[True] == len(slice.columns):
        print(res_1.original_title + ' (' + res_1.imdb_id + ')')
    else:
        print('Results are not the same')


q10(data)

The Lone Ranger (tt1210819)

# 11. Какого жанра фильмов больше всего?

In [ ]:
answers['11'] = 'Drama' # +

In [52]:
def q11(data):
    # technique 1
    genres_count = {}
    max = {
        'genre': 'unknown',
        'count': 0
    }
    value_counts = data.genres.value_counts()
    for genresString in value_counts.keys():
        genres = genresString.split('|')
        count = value_counts.loc[[genresString]]
        for genre in genres:
            if genre not in genres_count:
                genres_count[genre] = 0
            genres_count[genre] += count[genresString]
            if genres_count[genre] > max['count']:
                max['genre'] = genre
                max['count'] = genres_count[genre]
    res_1 = max['genre']

    # technique 2
    genres_list = data.genres.str.split('|').tolist()
    value_counts = pd.DataFrame(genres_list).stack().value_counts()
    res_2 = value_counts[value_counts == value_counts.max()].index[0]

    # compare results
    compare = res_1 == res_2
    if compare:
        print(res_1)
    else:
        print('Different ways results are not the same')


q11(data)

Drama

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [0]:
answers['12'] = 'Drama' # +

In [ ]:
def q12(data):
    slice = data[data.revenue > data.budget]
    genres_list = slice.genres.str.split('|').tolist()
    value_counts = pd.DataFrame(genres_list).stack().value_counts()
    res = value_counts[value_counts == value_counts.max()].index[0]
    print('12. ', end ='')
    print(res)


q12(data)

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [0]:
answers['13'] = 'Peter Jackson' # +

In [59]:
def q13(data):
    slice = data.loc[:, ['director', 'profit']]
    res = slice.groupby(['director'])['profit'].sum().sort_values().index[-1]
    print(res)


q13(data)

Peter Jackson

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [60]:
answers['14'] = 'Robert Rodriguez' # +

In [71]:
def q14(data):
    slice = data.loc[:, ['director']] \
        [data.genres.str.lower().str.contains('action')]
    directors_list = slice.director.str.split('|').tolist()
    res = pd.DataFrame(directors_list).stack().value_counts()
    print(res.index[0])


q14(data)

Robert Rodriguez

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [82]:
answers['15'] = 'Chris Hemsworth' # +

In [81]:
def q15(data):
    slice = data[data.release_year == 2012].loc[:, ['cast', 'revenue']]
    slice = pd.DataFrame(
        slice.cast.str.split('|').tolist(), index=slice.revenue
    ) \
        .stack() \
        .reset_index([0, 'revenue'])

    slice.columns = ['revenue', 'actor']

    slice = slice.groupby(['actor']) \
        .revenue.sum().reset_index() \
        .sort_values(by='revenue', ascending=False).reset_index()

    res = slice.loc[0].actor
    print(res)


q15(data)

Chris Hemsworth

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [0]:
answers['16'] = 'Matt Damon' # +

In [79]:
def q16(data):
    slice = data[data.budget > data.budget.mean()].loc[:,['budget', 'cast']]
    actors_budget = pd.DataFrame(slice.cast.str.split('|').tolist(), index=slice.budget).stack()
    actors_budget = actors_budget.reset_index([0, 'budget'])
    actors_budget.columns = ['budget', 'actor']
    actors = actors_budget['actor']

    value_counts = actors.value_counts().reset_index()
    value_counts.columns = ['actor', 'count']
    value_counts.sort_values(by='count')
    res = value_counts.loc[0].actor

    print(res)


q16(data)

Matt Damon

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [0]:
answers['17'] = 'Action' # +

In [80]:
def q17(data):
    nicalas_genres = data[data.cast.str.find('Nicolas Cage') >= 0] \
         .loc[:,['genres', 'cast']]

    splited_genres = pd.DataFrame(
        nicalas_genres.genres.str.split('|').tolist()
    ) \
        .stack().reset_index()

    splited_genres.columns = ['drop', 'drop', 'genre']
    splited_genres = splited_genres.drop(columns=['drop'])

    value_counts = splited_genres.genre.value_counts().reset_index()
    value_counts.columns = ['genre', 'count']
    
    res = value_counts.loc[0].genre
    print(res)


q17(data)

Action

# 18. Самый убыточный фильм от Paramount Pictures

In [0]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)' # +

In [88]:
def q18(data):
    slice = data[
        data.production_companies.str.lower().str.contains('paramount pictures')==True
    ] \
        .loc[:, ['original_title', 'imdb_id', 'profit']] \
        .sort_values(by=['profit']).reset_index() \
        .query('profit == profit.min()') \
        .loc[0]
    
    res = slice.original_title + ' (' + slice.imdb_id + ')'
    print(res)
    
    
q18(data)

K-19: The Widowmaker (tt0267626)

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [93]:
answers['19'] = '2015' # +

In [92]:
def q19(data):
    slice = data.loc[:, ['release_year', 'profit']] \
        .groupby(['release_year']).profit.sum() \
        .sort_values(ascending=False).reset_index() \
        .query('profit == profit.max()')

    res = slice.loc[0].release_year
    print(res)


q19(data)

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [0]:
answers['20'] = '2014' # +

In [96]:
def q20(data):
    res = data[data.production_companies.str.lower().str.find('warner bros')>=0] \
        .loc[:, ['release_year', 'profit']] \
        .groupby(['release_year']) \
        .profit.sum() \
        .sort_values(ascending=False).reset_index() \
        .query('profit == profit.max()') \
        .loc[0] \
        .release_year

    print(res)


q20(data)

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [0]:
answers['21'] = 'Сентябрь' # +

In [98]:
def q21(data):
    slice = data \
        .loc[:, ['release_date']] \
        .release_date.str.split('/', expand=True) \
        .drop(columns=[1,2])

    slice.columns = ['month']

    slice = slice.month.value_counts().reset_index()
    slice.columns = ['month', 'amount']

    res = slice[slice.amount == slice.amount.max()].loc[0].month
    print(res)


q21(data)

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [0]:
answers['22'] = 450 # +

In [99]:
def q22(data):
    slice = data \
        .loc[:, ['release_date']] \
        .release_date.str.split('/', expand=True) \
        .drop(columns=[1,2])

    slice.columns = ['month']

    slice = slice.month.value_counts().reset_index()

    slice.columns = ['month', 'amount']

    slice = slice[slice.month.isin(['6', '7', '8'])]

    res = slice.amount.sum()
    print(res)


q22(data)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [0]:
answers['23'] = 'Peter Jackson' # +

In [111]:
def q23_old(data):
    df = data.release_date.str.split('/', expand=True)
    df['director'] = data['director']
    df = df.drop(columns=[1,2])
    df.columns = ['month', 'director']
    df = df[df['month'].isin(['1', '12', '2'])]
    df = df['director'].value_counts().reset_index()
    df.columns = ['director', 'count']
    res = df.loc[0].director
    print(res)


q23_old(data)

Peter Jackson

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [0]:
answers['24'] = 'Four By Two Productions' # +

In [102]:
def q24(data):
    df = data.loc[:, ['production_companies', 'original_title']]
    df.columns = ['companies', 'title']
    df = pd.DataFrame(df.companies.str.split('|').tolist(), index=df.title)\
        .stack().reset_index()\
        .drop(columns=['level_1'])

    df.columns = ['title', 'company']

    df['len'] = df.title.str.len()

    df = df.drop(columns=['title'])\
        .groupby(['company']).len.mean().reset_index()\
        .query('len == len.max()')

    res = df.company.to_string(index=False)
    print(res)


q24(data)

 Four By Two Productions

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [0]:
answers['25'] = 'Midnight Picture Show' # +

In [103]:
def q25(data):
    df = data.loc[:, ['production_companies', 'overview']]
    df.columns = ['companies', 'overview']

    df = pd.DataFrame(df.companies.str.split('|').tolist(), index=df.overview)\
        .stack().reset_index()\
        .drop(columns=['level_1'])

    df.columns = ['overview', 'company']
    df['len'] = df.overview.str.split(' ').str.len()


    res = df\
        .drop(columns=['overview'])\
        .groupby(['company']).len.mean().reset_index()\
        .query('len == len.max()')\
        .company.to_string(index=False)
    print(res)


q25(data)

 Midnight Picture Show

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [ ]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' # +

In [108]:
def q26(data):
    df = data.loc[:, ['original_title', 'vote_average']]
    df.columns = ['title', 'rate']
    df = df.sort_values(['rate'], ascending=False)\
        .head(int(math.floor(df.title.count() * 0.01))).reset_index()

    res = df.title.tolist()
    print(res)


q26(data)

['The Dark Knight', 'Interstellar', 'The Imitation Game', 'Inside Out', 'Room', 'The Wolf of Wall Street', 'Gone Girl', '12 Years a Slave', 'Guardians of the Galaxy', 'The Lord of the Rings: The Return of the King', 'Memento', 'Inception', 'The Pianist', 'The Grand Budapest Hotel', 'Her', 'Spotlight', 'Big Hero 6', 'The Fault in Our Stars']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint' # +

In [110]:
def q27(data):
    df = pd.DataFrame(
        data['cast']
        .str.split('|')
        .apply(lambda cast: list(itertools.combinations(cast, 2)))
        .tolist()
    )\
        .stack().reset_index()\
        [0].value_counts().reset_index()

    df.columns = ['actors', 'count']
    df = df.query('count == count.max()').actors
    
    print(df)


q27(data)

0    (Daniel Radcliffe, Rupert Grint)
1     (Daniel Radcliffe, Emma Watson)
Name: actors, dtype: object

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)